
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
         
    }

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif!important;
}
.wrap{
    max-width: 1500px;
    margin: 0 auto;
}

.part{
    text-decoration: none;
    color: black;
    border-radius: 16px;
    border: solid 1px silver;
    padding: 9px;
    color: coral;
}
.info{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.osnov p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;
}

.history p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;
}

.culture p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;
}

.architect p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;
}

.cl p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;
}

.tr p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;
}

.fest p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;  
}

.cith p{
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 1.7;
    word-wrap: break-word;  
}

#toTop {
	position: fixed;
	display: inline-block;
	bottom: 30px;
	right: -40px;
	width: 40px;
	height: 40px;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background: coral;
	box-shadow: 0 0 0 3px rgba(0,0,0,.2);
	opacity: 0;
	visibility: hidden;
  transition: all .3s ease-in-out;
}
#toTop:hover {
		background: rgb(255, 79, 15);
}

#toTop svg {
	position: relative;
	top: 12px;
	right: -1px;
	fill: #fff;
	transition: all .3s ease-in-out;
}

#toTop:hover svg {
	cursor: pointer;
	fill: #fff;
	transition: all .3s ease-in-out;
}

#toTop.show {
	opacity: 1;
	visibility: visible;
	right: calc(2%);
}